<md-sidenav-container>
  <md-sidenav #sidenav class="app-sidenav">
    <img height="50px" src="http://startupbyte.com/assets/images/logo_small.png"/>
    <hr/>
    <md-list>
      <h3 md-subheader>Test Links</h3>
      <md-list-item> Ask Me Anything </md-list-item>
      <md-list-item> Topics </md-list-item>
      <md-list-item> Login </md-list-item>
    </md-list>
  </md-sidenav>
  <div class="app-sidenav-content">
    <md-toolbar color="primary">
      <md-icon (click)="sidenav.open()">menu</md-icon>
      &nbsp;&nbsp;
      <img height="50px" src="http://startupbyte.com/assets/images/logo_small.png"/>
      <span class="spacer"></span>
      <md-icon class="toolbar-icon">search</md-icon>
    </md-toolbar>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
