.toolbar-icon {
  padding: 0 24px;
}

.spacer {
  flex: 1 1 auto;
}
.ama-cards{
  md-card{
    min-height: 160px;
    margin: 10px 0;
  }
  md-card-header{
    margin-bottom: 15px;
  }
  md-card-actions {
    md-icon{
      font-size: 20px;
    }
    button{
      border-radius: 5px;
      &:last-child{
        border: 1px solid #ccc;
        float: right;
      }
    }
  }
}
.sub-nav{
  text-align: right;
  padding: 10px;
  background: whitesmoke;
  border: 1px solid whitesmoke;
  a{
    text-decoration: none;
    color: #999;
    font-family: "helvetica Neue", "Helvetica", sans-serif;
    &.active{
      color: black;
    }
  }
}
.header-action{
  position: absolute;
  right: 20px;
  font-size: 30px;
  color: orange;
}
.sub-action{
  display: inline-block;
  md-chip{
    padding: 5px 10px;
  }
}
.bubble{
  background-color : gold;
  padding: 20px 10px;
  font-size: 20px;
  md-icon{
    float: right;
  }
}
.image-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url('http://placehold.it/32x32');
  background-size: cover;
}
